[submodule "dnf-bridge"]
	path = dnf-bridge
	url = https://github.com/xcp-ng/xcpng-bitbake-proto
[submodule "meta-almalinux"]
	path = meta-almalinux
	url = https://github.com/xcp-ng/meta-almalinux.git
